/* general structure*/


* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
a {
    text-decoration: none !important;
    color: white;
}
/* page style*/
.logo {
    display:inline ;
    margin: 0%;
    padding: 0%;
}

.logo2 img {
    width: 30px;
    height: 30px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}


/*grid styling*/

.nav-container {
    display: grid; 
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr; /*set the grid for the whole page with sidemenu being the first column to the  left*/
    grid-template-rows: 0.2fr 3fr; /*navbar and charts area*/
    grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}

.navbar {
    background-color: #777;
    color: white;
    grid-area: nav;
    height: 60px;
    display: flex; /*organize elements within navbar*/
    align-items: center; /*centralizing vertically*/
    justify-content: space-between; /* horizontal distribution*/ /*space-between will 'push' the elements to both extremities of the navbar*/
    padding:  0px 30px 0px 30px; /*left top right bottom*/
    border-bottom: 3px solid #15d1ea;
}
.navbar__left a{
    color: white;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.5px;
}


.nav_icon {
    display: none;
}

.nav_icon > i {
    font-size: 26px;
    color: white;
}

.navbar__left .active_link {
    border-bottom: 3px solid #15d1ea;
    padding-bottom: 12px;
}

.navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__right > a {
    margin-left: 20px;
    text-decoration: none;
}

.navbar__right > a > i {
    color: white;
    font-size: 16px;
    border-radius: 50px;
    background: #777;
    

}

/*sidebar stylying*/
main {
    background:#f3f4f6;
    grid-area: main;
    overflow-y: auto;
}


.main__container {
    padding: 20px 50px;
}

.main__title {
    display: flex;
    align-items: center;
}

.main__title > img {
    max-height: 100px;
    object-fit: contain; /* propriedade que garante a manutenção da escala*/
    margin-right: 20px;
}

.main__greeting > h1 {
    font-size: 1.5rem;
    margin-bottom: 5px;

}
.main__greeting > p {
    font-size: 0.9rem;
    font-weight: 700;
}
#sidebar {
    background-color: teal;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition:  all 0.5s;
}
